body {
	background-color: #26006e;
}


h1 {
	text-align: center;
	color: white;
	font-size: 2.2rem
}


.buttons {
	width: 80%;
	height: 70%;
	margin: 0 auto;
}

.end-result {
	font-weight: bold;
	font-size: 1.7rem;
}

#results {
	text-align: center;
	color: white;
}

.playAgain {
	font-size: 1.3rem;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	padding: 50px;
}